
*::before,
*::after {
  box-sizing: border-box;
}


body {
  font-family: "Avenir Next", sans-serif;
  margin: 0;
}

h1, h2, h3, h5 {
  margin: 0;
}

p {
  margin-bottom: 2em;
}

.header {
  background-color: #3E3232;
  color: #fff;
  height: 90px;
}

.header a {
  color: #bba1a1;
  text-decoration: none;
}

.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}

.header-list {
  float: right;
}

.header-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-list li {
  display: inline;
  padding: 20px;
}

.main {
  padding: 50px 80px;
  margin: auto;
}

.copy-container h1 {
  text-align: center;
  font-size: 100px;
}

.contents {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

aside {
  flex: 1;
  padding: 0 20px;
}

aside img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.contents-content {
  flex: 3;
  padding: 0 20px;
}

.contents-content ol {
  list-style: none;
  padding: 0;
}

.contents-content .card {
  margin-bottom: 20px;
}

.contents-content .card h3 {
  font-size: 24px;
}

.contents-content .card p {
  font-size: 16px;
}

.footer {
  background-color: #2f5167;
  color: #fff;
  height: 170px;
  padding: 40px;
  clear: both; 
}

.footer-logo {
  float: left;
  font-size: 32px;
}

.footer-content {
  float: right;
}

.footer-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-content li {
  padding-bottom: 20px;
}

.footer-content a,
.footer-logo a {
  color: #B7CADB;
  text-decoration: none;
}

/* Gaya Khusus untuk Tablet */
@media all and (max-width: 1000px) {
  .main {
    width: 50%;
    margin-bottom: 50px;
  }

  .copy-container h1 {
    font-size: 32px;
  }

  .header-logo {
    font-size: 28px;
  }

  .header-list li {
    padding: 10px;
  }
}

/* Gaya Khusus untuk Smartphone */
@media (max-width: 670px) {
  .main {
    width: 100%;
    padding: 20px;
  }

  footer {
    text-align: center;
    color: white;
    padding: 10px;
  }

  .header {
    height: auto;
    padding: 10px;
  }

  .header-logo {
    font-size: 24px;
  }

  .header-list {
    float: none;
    text-align: center;
  }

  .header-list ul {
    padding: 0;
  }

  .header-list li {
    display: block;
    padding: 10px 0;
  }

  .copy-container h1 {
    font-size: 24px;
    line-height: 36px;
  }

  .contents {
    flex-direction: column;
  }

  aside {
    padding: 0;
    margin-bottom: 20px;
  }

  .footer {
    padding: 20px;
  }

  .footer-logo {
    font-size: 24px;
  }

  .footer-content {
    float: none;
    text-align: center;
  }

  .footer-content li {
    display: inline;
    padding: 0 10px;
  }
}